// Sizes
$grid-min-width = 980px
$grid-max-width = 1360px
$grid-padding = 40px
$content-padding = 35px

// Medias
$media-max = '(min-width: '+ $grid-max-width +')'
$media-middle = '(min-width: ' + $grid-min-width + ') and (max-width: '+ $grid-max-width +')'
$media-min = '(max-width: '+ $grid-min-width +')'