@import './style/bootstrap/grid'
@import './style/bootstrap/nav'
@import './style/bootstrap/dropdown'
@import './style/icon'

$head-font-size = 13px
$head-color = #fff
$projects-height = 49px

body
  font-family Arial, Helvetica, Verdana, sans-serif
  background fixed top center no-repeat
  background-size cover

.tv-nav.active a
  font-weight bold